# ignore venv folder
venv/
# ignore .env file
.env    
# ignore __pycache__ folders
__pycache__/
# ignore .pytest_cache folder
.pytest_cache/
# ignore instance folder
instance/
migrations/
# ignore client_secrets.json file
client_secret.json
# ignore SQLite database files